.Container{
    background-color: rgb(129, 151, 161);
    padding: 0;
    font-family:'Times New Roman';
    font-size: 18px;
    }

img {
    height: 150px;
    width: 150px;
    }

h1 {
    color: peru;
    position: absolute;
    left: 150px;
    top: 25px;
    
}

.Menu ul li a{
    color: black;
    font-size: 20px;
}

.Menu ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: rgb(233, 215, 112);
}

div.Menu li a:hover{
    background: rgb(245, 245, 245);
}

.Header {
    background-color: rgb(253, 253, 253);
    padding-bottom: 0;
}
/* tạo menu chung của item*/
/* bỏ các dấu chấm tròn */
ul.menu0 li {
    list-style: none;
}
ul.menu0 li a{
    text-decoration: none;
    position: relative;
}
ul.menu0 li a:hover{
    background: #6627;
    color: rgb(240, 224, 224);
}
/*tạo menu1 */
ul.menu1{
    display: none;
}
ul.menu0 >li:hover ul.menu1{
    display: block;
}
/*tạo menu2 */
ul.menu2{
    display: none;
}
ul.menu1 >li:hover ul.menu2{
    display: block;
}
/* tạo menu3 */
ul.menu3{
    display: none;
}
ul.menu0 li ul.menu1 >li:hover ul.menu2> li:hover ul.menu3{
    display: block;
}
/* tạo menu 4 */
ul.menu4{
    display: none;
}
ul.menu0 li ul.menu1 >li ul.menu2 >li ul.menu3 > li:hover ul.menu4{
    display: block;
}
/* tạo menu 5 */
ul.menu5{
    display: none;
}
ul.menu0 li ul.menu1 >li ul.menu2 >li ul.menu3 > li:hover ul.menu4 > li:hover ul.menu5{
    display: block;
}

/* tạo menu chung */
ul.menu li {
    list-style: none;
}
ul.menu li a{
    text-decoration: none;
    position: relative;
}
ul.menu li a:hover{
    background: #6627;
    color: rgb(238, 234, 234);
}
/* tạo menu tin tức*/
ul.menu01{
    display: none;
}
ul.menu >li:hover ul.menu01{
    display: block;
}
/* tạo menu sản phẩm*/
ul.menu02{
    display: none;
}
ul.menu >li:hover ul.menu02{
    display: block;
}

/* tạo menu khuyến mãi*/
ul.menu03{
    display: none;
}
ul.menu >li:hover ul.menu03{
    display: block;
}

h3{
    color: black;
    position: absolute;
    left: 300px;
    top: 200px;
}

.Content{
    display: grid;
    grid-template-columns: auto auto;
}

.right-content{
    display: grid;
    grid-template-columns: auto auto auto;
    
}

.left-content{
    border: 1px solid black;
    width: 200px;
}

.menu1, .menu2,.menu3,.menu4,.menu5{
    width: 1000px;
}

.right-content img {
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 15px;
}